.container {
  .booking {
    display: flex;
    column-gap: 64px;
    .form {
      margin-left: 23px;
      width: 24%;
      height: 628px;
      background-color: #e52b34;
      padding: 48px;
      min-width: 370px;
      p {
        color: #fff;
        font-weight: 700;
        font-size: 22px;
        letter-spacing: 1px;
        line-height: 1.5;
        margin-bottom: 16px;
      }
      .name {
        @include form;
      }
      .email {
        @include form;
      }
      .phone {
        @include form;
      }
      .check-in {
        @include form;
      }
      .time {
        @include form;
      }
      .option {
        @include form;
      }
      input {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      button {
        background: #fff;
        border: 1px solid #fff;
        color: #000000;
        cursor: pointer;
        border-radius: 2px;
        font-weight: 400;
        text-align: center;
        font-size: 1rem;
        line-height: 1.5;
        padding: 16px 24px;
        width: 100%;
        margin-bottom: 20px;
        &:hover {
          color: #e52b34;
          transition: 0.5s;
        }
      }
    }
    .info {
      padding-top: 90px;
      background: url(./../images/reservation-back.webp);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 90% 50%;
      display: flex;
      flex-direction: column;
      .info-title {
        position: relative;
        font-size: 40px;
        color: rgba(0, 0, 0, 0.2);
        color: #eb5860;
        font-family: "Dancing Script", cursive;
        margin-bottom: -20px;
        z-index: 2;
      }
      .info-subtitle {
        font-size: 40px;
        font-weight: 900;
        line-height: 1.3;
        position: absolute;
        color: rgba(0, 0, 0, 0.8);
        padding-top: 25px;
        z-index: 2;
      }
      .info-description {
        width: 60%;
        font-size: 16px;
        line-height: 2;
        font-weight: 400;
        color: gray;
        padding-top: 125px;
      }
    }
    .image {
      img {
        width: 60%;
        height: 500px;
        z-index: -1;
      }
    }
  }
}
@media (min-width: 1050px) {
  .container {
    .booking {
      .info {
        width: 100%;
        padding: 0 2%;
      .info-description{
        height: 628px;
      }
      }
    }
  }
}

@media (max-width: 1150px) {
  .container {
    width: 100%;
    .booking {
      .form {
        width: 35%;
      }
      .info {
        width: 50%;
        padding: 0 2%;
      .info-description{
        height: 628px;
        width: 95%;
      }
      }
    }
  }
}

@media (max-width: 960px) {
  .container {
    width: 100%;
    .booking {
      width: 100%;
      flex-wrap: wrap;
      .form {
        width: 100%;
        margin: 0;
      }
      .info {
        width: 100%;
        padding: 0 10%;
         height: 628px;
         .info-description{
          height: 400px;
         }
      }
    }
  }
}

// @media (max-width: 800px)and (min-width:900px) {
//   .container {
//     width: 76%;
//     .form{
//       width: 45%;
//     }
//     .info{
// width: 45%;
// .info-description{
//   width: 100px;
// }
//     }
//   }
// }
